<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="webapp">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="model-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/model/model">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="webservice-client-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/webservice-client/webservice-client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="business-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/business/business">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="consumer-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/consumer/consumer">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="webapp"/>
        <property name="java-output-path" value="/webapp/target/classes"/>
    </wb-module>
</project-modules>
